/* 데스크탑 */
*{
    margin: 0;
    padding: 0;
    border: none;
}
header{ /* 모든 헤더 */
    height: 80px;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.8);
    position: sticky;
    display: flex;
    align-items: center;
    top:0;
}
#logo{
    margin-left: 65px;
    width: 100%;
    font-size: 40px;
    color: #f0f0f0;
    text-decoration: none;
}
.list{
    width: 309px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.list span{
    padding: 0 20px;
    position: relative;
}
.list span::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: #ccc;
}
.list span:last-child::after {
    display: none; /* 마지막 항목에는 오른쪽 선을 제거 */
}
.list span a{
    color: inherit;
    text-decoration: none;
    font-size: 24px;
}
header button{
    width: 150px;
    height: 65px;
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: white;
    border-radius: 25px;
}
#logo, .login{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    width: 240px;
    height: 63px;
    margin-left: 50px;
    background-color: #4f4f4f;
    border-radius: 500px;
}
#signIn{
    width: 120px;
    height: 65px;
    font-size: 24px;
    text-decoration: none;
    color: white;
    border-radius: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#signUp {
    width: 120px;
    height: 65px;
    border-radius: 500px;
    background-color: rgba(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 24px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login:link, .login:visited{
    color: inherit;
    text-decoration: none;
}
.array{
    display: flex;
    justify-content: space-between;
    margin-left: 900px;
}


main{ /* 모든 메인 */
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
}
.notion{
    display: inline-block;
    width: 1300px;
    text-align: left;
    margin-top: 235px;
    margin-bottom: 279px;
}
.notion h1{
    color:black;
    font-size: 40px;
}
#title{
    font-size: 32px;
    color: black;
    margin-bottom: 50px;
}
.notion p{
    color: black;
    font-size: 20px;
}

.footer{ /* 홈페이지 푸터 */
    height: 50px;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;

}
.footer p{
    color: #f0f0f0;
    font-size: 15px;
}


.my-infor{ /* 자기소개 */
    display: flex;
    justify-content: space-between;
    width: 1020px;
    margin-top: 50px;
}
.my-infor div{
    width: 250px;
    height: 140px;
    background-color: #D9D9D9;
    border-radius: 100px;
    display: inline-block;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 40px;
    padding-bottom: 20px;
}
.my-infor h3, .skill-infor h3{
    font-size: 24px;
}
.my-infor p, .skill-infor p{
    font-size: 20px;
}
.skill-infor{
    display: inline-block;
}
.flex1, .flex2, .flex3{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    width: 1020px;
}
.flex1 div{
    width: 430px;
    height: 140px;
    background-color: #D9D9D9;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 40px;
    padding-bottom: 20px;
}
.flex2 div, .flex3 div{
    width: 250px;
    height: 140px;
    background-color: #D9D9D9;
    display: inline-block;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: left;
}
.flex2{
    margin-bottom: 50px;

}
.line{ 
    width: 1020px;
    height: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    color:black;
    font-size: 24px;
}
.line::before, .line::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid rgb(0, 0, 0);
}
.line:not(:empty)::before {
    margin-right: 20px;
}
.line:not(:empty)::after {
    margin-left: 20px;
}


.frame {/* 프로젝트 */
    
    display: inline-block;
    margin-top: 60px;
    margin-bottom: 60px;
}
.blue-box, .green-box, .gray-box {
    background-color: inherit;
    width: 1252px;
    height: 330px;
    border-radius: 30px;
    padding: 40px;
    display: inline-block;
    box-shadow: 35px 40px 15px -3px rgba(0, 0, 0, 0.3);
    margin-left: 284px;
    text-align: center;
}
.blue-box {
    background-color: #4A90E2;
}
.green-box {
    background-color: #81E05F;
    margin-top: 60px;
    margin-bottom: 60px;
}
.gray-box {
    background-color: #BDC3C7;
}
.title {
    font-size: 40px;
    text-align: center;
}
.scroll-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.scroll-array{
    display: inline-block;
    width: 1200px;
    /* 컨테이너 너비 */
    overflow-x: auto;
    /* 가로 스크롤 활성화 */
    white-space: nowrap;
    padding-bottom: 50px;
}
.scroll-item {
    display: inline-block;
    /* 아이템 각각의 너비 */
    margin-right: auto;
    text-align: center;
    line-height: 30px;
}
.scroll-item img {
    width: 250px;
    height: 150px;
    background-color: #D9D9D9;
    border-radius: 30px;
    box-shadow: 10px 10px 15px -3px rgba(0, 0, 0, 0.3);
}
.scroll-item p {
    color: 40px;
    font-size: 20px;
}
.scroll-array::-webkit-scrollbar {
    width: 12px;  /* 세로 스크롤바의 너비 */
    height: 12px; /* 가로 스크롤바의 높이 */
}
::-webkit-scrollbar-thumb {
    background-color: #888;  /* 스크롤 핸들의 기본 색상 */
    border-radius: 10px;     /* 둥근 모서리 */
    border: 2px solid #e0e0e0;  /* 스크롤 핸들 테두리 */
}
.scroll-array::-webkit-scrollbar-thumb:hover {
    background-color:gray;  /* 호버 시 색상 변경 */
    border-radius: 20px;
}
.scroll-array::-webkit-scrollbar-track {
    background-color: #e0e0e0;  /* 트랙의 배경색 */
    border-radius: 10px;        /* 트랙 모서리 둥글게 */
}


.login-main{ /* 로그인 메인 */
    height: 780px;
    width: 100%;
    background-color: #DADADA;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.login-container{
    background-color: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 40px;
	width: 500px;
    text-align: center;
}
h2{
    margin-bottom: 20px;
    font-size: 24px;
}
.login-form {
    display: inline-block;

}
.input-group{
    text-align: left;
    display: flex;
    justify-content: center;
}
.input-group input{
    width: 300px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.login-button{
    background-color: #2b7cff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 5px;
    width: 100%;
}
.login-button:hover{
    background-color: #1a5fcc;;
}
.options{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.options a{
    font-size: 12px;
    color: #555;
    text-decoration: none;
}
.divider {
    width: 100%;
    margin: 20px 0;
    font-size: 14px;
    color: #aaa;
    display: flex;
    align-items: center;
    text-align: center;
    color:black;
}
.divider::before, .divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid black;
}
.divider:not(:empty)::before {
    margin-right: 20px;
}
.divider:not(:empty)::after {
    margin-left: 20px;
}
.social-login{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    width: 300px;
}
.social-login a img {
    width: 30px;
    height: 30px;
}