/* 데스크탑 */
*{
    margin: 0;
    padding: 0;
}
header{ /* 모든 헤더 */
    height: 80px;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.8);
    position: sticky;
    display: flex;
    align-items: center;
}
#logo{
    margin-left: 65px;
    width: 100%;
    font-size: 40px;
    color: #f0f0f0;
    text-decoration: none;
}

.list{
    width: 655px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-left: 530px;
}
.list span{
    padding: 0 20px;
    position: relative;
}
.list span::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: #ccc;
}
.list span:last-child::after {
    display: none; /* 마지막 항목에는 오른쪽 선을 제거 */
}
.list span a{
    color: inherit;
    text-decoration: none;
    font-size: 24px;
}

header button{
    width: 150px;
    height: 65px;
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: white;
    border-radius: 25px;
}

#logo, .login{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    width: 245px;
    height: 63px;
    margin-left: 50px;
    background-color: #4f4f4f;
    border-radius: 500px;
}
#signIn{
    width: 120px;
    height: 65px;
    font-size: 24px;
    text-decoration: none;
    color: white;
    border-radius: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#signUp {
    width: 120px;
    height: 65px;
    border-radius: 500px;
    background-color: rgba(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 24px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login :link, .login:visited{
    color: inherit;
    text-decoration: none;
}




main{ /* 홈페이지 메인 */
    height: 100% auto;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.notion{
    display: inline-block;
    width: 1300px;
    text-align: left;
    margin-top: 170px;
}
.notion h1{
    color: #607D8B;
    font-size: 40px;
}
#title{
    font-size: 32px;
    color: #001F3F;
    margin-bottom: 50px;
}
.notion p{
    color: black;
    font-size: 20px;
}
.footer{ /* 홈페이지 푸터 */
    height: 70px;
    width: 100%;
    background-color: #1A2B48;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

}
.footer p{
    color: #f0f0f0;
    font-size: 15px;
}





























.my-infor, .skill-infor{
    display: flex;
    text-align: left;
}
.inline {
    display: inline-block;
}
.flex{
    display: flex;
}
.flex div{
    height: 192px;
    width: 452px;
    background-color: #D9D9D9;
    border-radius: 30px;
    margin: 70px;
    padding-left: 40px;
    padding-top: 30px
}
#box h3{
    font-size: 25px;
    margin-bottom: 0;
    margin-top: 0px;
}
#box p{
    font-size: 20px;
    margin-top: 10px;
}
.line{ 
    display: flex;
    align-items: center;
    text-align: center;
    color:black;
}
.line::before, .line::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid rgb(0, 0, 0);
}
.line:not(:empty)::before {
    margin-right: 20px;
}
.line:not(:empty)::after {
    margin-left: 20px;
}










.login-main{ /* 로그인 메인 */
    height: 780px;
    width: 100%;
    background-color: #DADADA;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.login-container{
    background-color: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 40px;
	width: 500px;
    text-align: center;
}
h2{
    margin-bottom: 20px;
    font-size: 24px;
}
.login-form {
    display: inline-block;

}
.input-group{
    text-align: left;
    display: flex;
    justify-content: center;
}
.input-group input{
    width: 300px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.login-button{
    background-color: #2b7cff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 5px;
    width: 100%;
}
.login-button:hover{
    background-color: #1a5fcc;;
}
.options{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.options a{
    font-size: 12px;
    color: #555;
    text-decoration: none;
}
.divider {
    width: 100%;
    margin: 20px 0;
    font-size: 14px;
    color: #aaa;
    display: flex;
    align-items: center;
    text-align: center;
    color:black;
}
.divider::before, .divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid black;
}
.divider:not(:empty)::before {
    margin-right: 20px;
}
.divider:not(:empty)::after {
    margin-left: 20px;
}
.social-login{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    width: 300px;
}
.social-login a img {
    width: 30px;
    height: 30px;
}
.login-footer{ /* 로그인 푸터 */
    height: 65px;
    width: 100%;
    background-color: #607D8B;
}

.containerbox{
    width: 1920px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.blue-box, .green-box, .gray-box{
    background-color:inherit;
    width: 1252px;
    height: 330px;
    border-radius: 30px;
    padding: 40px;
    display: inline-block;
    box-shadow: 35px 40px 15px -3px rgba(0, 0, 0, 0.3);
    margin-left: 284px;
}
.blue-box{
    background-color: #4A90E2;
}
.green-box{
    background-color: #81E05F;
    margin-top: 60px;
    margin-bottom: 60px;
}
.gray-box{
    background-color: #BDC3C7;
}
.title{
    display: flex;
    font-size: 40px;
    text-align: left;
    margin-left: 30px;
}
.contentbox{
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.contentbox div{
    margin: 20px;
    display: inline-block;
}
.contentbox img{
    width: 300px;
    height: 150px;
    background-color: #D9D9D9;
    border-radius: 30px;
    box-shadow: 10px 10px 15px -3px rgba(0, 0, 0, 0.3);
}
.contentbox p{
    margin:0;
    color: 40px;
    text-align: center;
    font-size: 20px;
}
.contentbox button{
    background-color: #4F4F4F;
    color: white;
    padding: 30px;
    border-radius: 30px;
    font-size: 50px;
    margin-left: 80px;
}