*{
    padding: 0px;
    margin: 0px;
}
body {
    overflow-x: hidden;
}
.menu{
    position: fixed;
    top:100px;
    right: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
    width: 100px;
    border: 1px solid black;
    z-index: 1000;
}
#menu-btn{
    color:black;
    width: 100px;
    height: 40px;
    font-size: 16px;
    border: 1px solid black;
    background-color: #F5F5F5;
}
#main-text{
    width: 800px;
    height: auto;
    padding: 20px 20px;
}
#main-text h2{
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    margin-bottom: 20px;
    font-size: 48px;
    text-shadow: 0 0px 32px rgba(255, 255, 255, 0.4);
}
.slide-in-left {
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
#hom-btn, #skill-btn{
    width: 100px;
    height: 40px;
    font-size: 16px;
    border-bottom: inherit;
    border-top: 0px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
#project-btn{
    font-size: 16px;
    width: 100px;
    height: 40px;
    border: 1px solid black;
    border-top: 0px;
    border-bottom: 1px solid black;
}
.action{
    background-color: black;
    color : white;
}
#hom, #skill, #project{
    width: 100%;
    height: 965px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#hom{
    background-color: #121212;
    color:#F5F5F5;
    overflow: hidden;
}
#skill{
    background-color: #F5F5F5;
    flex-direction: column;
    gap: 20px;
}
#project{
    background-color: #121212;
    overflow: hidden;
}
#skill-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 700px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
    box-shadow: 0 0px 32px rgba(0, 0, 0, 0.2); /* 그림자 추가 */
}
#leftBox, #rightBox{
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 400px;
}
#rightBox{
    gap:10px;
}
#skills, #certificates, #editors{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 20px;
    border: 1px solid black;
    height: 100%;
    box-sizing: border-box;
}
#skills{
    height: 400px;
}
#certificates{
    height: auto;
}
#editors{
    height: 200px;
}
#skills::-webkit-scrollbar,
#certificates::-webkit-scrollbar,
#editors::-webkit-scrollbar {
    display: none;
}
.box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    background-color: #F5F5F5;
    border: 1px solid black;
    width: 100%;
    gap:5px;
    box-sizing: border-box;
}
.backBar{
    display: flex;
    justify-content: left;
    background-color: white;
    width: 150px;
    height: 10px;
    border: 1px solid black;
}
.bar{
    background-color: black;
    height: 10px;
}
.level{
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:10px;
}
.snowflake {
    position: absolute;
    top: -10px;
    background: white;
    border-radius: 50%;
    opacity: 0.8;
    pointer-events: none;
    animation: fall linear infinite;
    
}
@keyframes fall {
    0% {
        transform: translateY(0);
        opacity: 0.8;
    }
    80% {
        opacity: 0.8;
    }
    100% {
        transform: translateY(100vh);
        opacity: 0;
    }
}
#skill-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style: none;
    position: absolute; /* 화면에 고정 */
    width: 100%;
    height: 200px; /* 높이 설정 */
    z-index: 2;
    overflow: hidden;
}
#skill-imgs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style: none;
    animation: slideIn 10s linear infinite;
}
@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
#skill-imgs img{
    width: 100px;
    height: 100px;
}
#project-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    width: 1200px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
    color:white;
    gap: 10px;
    box-shadow: 0 0px 32px rgba(255, 255, 255, 0.2); /* 그림자 추가 */
}
#project-list{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    list-style: none;
    width: 100%;
}
#project-list li{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 250px;
    color:white;
    text-align: center;
}
#project-list img{
    width: 200px;
    height: 200px;
    background-color: white;
}